body.darkmode {
    background-color: black;
    color: aliceblue;
};

.tarjetaImg {
    align-items: center;
    width: 9em;

}
img{
    width: 9em;
    padding: 10px;
}
     
nav{
    background-color: #8c9290;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
.ul {
    display: flex;
    list-style: none;
}

li {
    display: flex;
    margin: 10px;
}

a {

    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(22, 22, 116);
}


.footer {
    background-color: #8c9290;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}

.footer a {
    margin: 10px;
    text-align: left;
    color: aliceblue;
    font-weight: 200;
    text-decoration: none;
}

.footer a:hover {
    color: #161674;
}

.footer p {
    text-align: center;
    color: aliceblue;
    margin: 10px;
    font-weight: 200;
}

.tarjeta {

    padding: 1em;
    border: 2px solid rgba(12, 0, 0, 0.116);
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
}

#contenedorTerapias {
    display: flex;
    flex-wrap: wrap;
}

#contenedorCarrito {
    display: flex;
    flex-wrap: wrap;
}
.form-items {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    text-transform: uppercase; }
  
  .texto {
    display: flex;
    text-align: center;
    color: aliceblue;
    width: 280px;
    height: 160px;
    background-image: url(../multimedia/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #bdbaba;
    margin: 4px;
    text-transform: uppercase; }
  
  .boton {
    width: 100%;
    background-color: #bdbaba;
    color: aliceblue;
    margin-bottom: 5px; }
  
  .renglon {
    background-color: #bdbaba;
    color: aliceblue; }
  
  .opinion {
    background-color: #bdbaba;
    display: flex;
    justify-content: center;
    padding-top: 20px; };

/*swiper*/



html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
/*swiper*/
    .swiper {
      width: 50%;
      height: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .contenedorOfertas{
        display: flex;
        flex-wrap: wrap;
    }